@import './selectDatabaseListArea.css';
@import './anotatedImageViewArea.css';

#anotatedImageView{
  position: relative;
  width: 100%;
  height: 100%;
}

#selectDatabaseViewprogressBarArea{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#selectDatabaseViewprogressBarArea > .progress{
  width: 100%;
}

#selectDatabaseViewprogressBarArea > .progress > .progress-bar{
  width: 0%;
}


#anotatedImageViewHeader{
  height: 50px;
}

#anotatedImageViewContentArea{
  height: calc(100% - 50px);
}