#anotatedImageViewArea{
  display: none;
  flex-direction: column;
  height: 100%;
}

#anotatedImageViewAreaHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

#anotatedImageViewAreaSelectModeBtnArea{
  visibility: hidden;
}

#anotatedImageViewAreaContentsArea{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  height: calc(100% - 120px);
}

.anotatedImageViewAreaImageBackground{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: gray;
  margin: 5px;
  border-radius: 8px;
}

.anotatedImageViewAreaImage{
  position: absolute;
  max-width: 200px;
  height: auto;
}

.anotatedImageViewAreaImageInfo{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 8px;
  opacity: 0;
}

.anotatedImageViewAreaImageInfo:hover{
  transition: 0.2s;
  opacity: 1;
}

.anotatedImageViewAreaImageStatusArea{
  display: flex;
  justify-content: end;
  align-items: start;
  width: 200px;
  height: 200px;
  padding: 5px;
}

.anotatedImageViewAreaImageSelectedIcon{
  background: lightgreen;
  color: green;
}

#anotatedImageViewAreaFooter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}