#alertModal{
  position: absolute;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - var(--upperMenuHeight));
  background-color: rgba(24, 24, 24, 0.5);
}

#alertModalMes{
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  overflow: scroll;
  width: 60%;
}

#alertModalMes::-webkit-scrollbar{
  display: none;
}