#autoAnotationView{
  position: relative;
  width: 100%;
  height: 100%;
}

#autoAnotationViewProgressBarArea{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#autoAnotationViewProgressBarArea > .progress{
  width: 100%;
}

#anotationNameInputField{
  margin-left: 10px;
}

#imagePathInputField{
  margin-left: 10px;
  width: 100%;
}

#modelPathInputField{
  margin-left: 10px;
  width: 100%;
}

#openFolderDirInputField{
  width: 100%;
}

#openFolderBtn{
  margin-left: 10px;
}