:root{
  --sideMenuWidth: 70px;
  --sideMenuIconWidthRatio: 0.6;
}

#sideMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #d7d7d7;
  background: #181818;
  width: var(--sideMenuWidth);
  height: 100%;
  text-align: center;
}

#sideMenu .iconContainer{
  margin: 5px 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#sideMenu .icon{
  color: #d7d7d7;
  font-size: calc(var(--sideMenuWidth) * var(--sideMenuIconWidthRatio));
}

#sideMenu .icon:hover{
  transition: 0.6s;
  color: #5c5c5c;
  cursor: pointer;
}