@import '../common.css';
@import '../upperMenu.css';
@import './sideMenu.css';
@import './alertModal.css';
@import './autoAnotationView.css';
@import './selectedDatabaseView.css';
@import './anotatedImageView.css';
@import './imageViewerView/imageViewerView.css';

#mainFrame{
  height: calc(100% - var(--upperMenuHeight));
}

#mainView{
  width: 100%;
  padding: 10px;
}

#disableFilter{
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  height: calc(100% - var(--upperMenuHeight));
  opacity: 0;
}