:root{
  --upperMenuHeight: 40px;
  --upperMenuIconWidthRatio: 0.35;
  --upperMenuIconpadding: calc(var(--upperMenuHeight) * (1 - var(--upperMenuIconWidthRatio)) / 2);
  --sideMenuWidth: 70px;
  --sideMenuIconWidthRatio: 0.6;
  --anotatedImageViewFooterHeight: 50px;
}

.inputNumNoSpin::-webkit-outer-spin-button,
.inputNumNoSpin::-webkit-inner-spin-button{
  -webkit-appearance: none; 
}

.btn-outline-info{
  --bs-btn-hover-color: white;
  --bs-btn-active-color: white;
}

body{
  user-select: none;
  -webkit-app-region: drag;
  background: #1f1f1f;
  color: #d7d7d7;
}

label{
  color: #d7d7d7;
  font-size: 20px;
}

.dragmovable{
  -webkit-app-region: drag;
}

.nodragmovable{
  -webkit-app-region: no-drag;
}

.displayFlex{
  display: flex;
}

.diaplayNone{
  display: none;
}

#upperMenu{
  height: var(--upperMenuHeight);
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid #37373d;
  background-color: #1f1f1f;
}

#upperMenu .icon{
  color: #d7d7d7;
  font-size: calc(var(--upperMenuHeight) * var(--upperMenuIconWidthRatio));
  padding: var(--upperMenuIconpadding) calc(var(--upperMenuIconpadding) + 3px) var(--upperMenuIconpadding) var(--upperMenuIconpadding);
}

#upperMenu .icon:hover{
  transition: 0.6s;
  background-color: #e81123;
}

#mainFrame{
  height: calc(100% - var(--upperMenuHeight));
}

#sideMenu{
  color: #d7d7d7;
  background: #181818;
  width: var(--sideMenuWidth);
  height: 100%;
  text-align: center;
}

#sideMenu .iconContainer{
  margin: 5px 0px;
}

#sideMenu .icon{
  color: #d7d7d7;
  font-size: calc(var(--sideMenuWidth) * var(--sideMenuIconWidthRatio));
}

#sideMenu .icon:hover{
  transition: 0.6s;
  color: #5c5c5c;
}

#mainView{
  width: 100%;
  padding: 10px;
}

#autoAnotationView{
  width: 100%;
  height: 100%;
}

#anotationNameInputField{
  margin-left: 10px;
}

#imagePathInputField{
  margin-left: 10px;
  width: 100%;
}

#modelPathInputField{
  margin-left: 10px;
  width: 100%;
}

#imageViewerView{
  position: relative;
}

#openFolderDirInputField{
  width: 100%;
}

#openFolderBtn{
  margin-left: 10px;
}

#imageViewImageSizeInput{
  width: 50px;
  text-align: center;
  border-radius: 8px;
}

#imageViewMaxPreviewImagesInput{
  width: 60px;
  text-align: center;
  border-radius: 8px;
}

.previewPagerSelector:hover{
  opacity: 0.5;
  transition: 0.8s;
}

.previewPagerSelectorSelected{
  color: aqua;
  font-weight: bold;
}

#imagePreviewArea{
  &::-webkit-scrollbar {
    width: 18px;
  }

  &::-webkit-scrollbar-track{
    background-color: #d7d7d7;
    border-radius: 5px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #c792bd;
    border-radius: 10px;
  }

  position: absolute;
  width: 100%; 
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
}

#previewDirFilterInput{
  width:240px;
  height: 30px;
}

#previewDirFilterDepthInput{
  width:60px; 
  height: 30px;
  padding-right: 2px;
  text-align: center;
}

#previewDirFilterBtn{
  display: flex;
  margin-left: 15px;
}

#imagePreviewAreaLoadingArea{
  display: none; 
  justify-content: center; 
  align-items: center;
}

.imageViewPreviewImageBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  background-color: #c0c0c0;
}

.imageViewPreviewImageBackground:hover .imageViewImageInfoArea{
  opacity: 1;
  transition: 0.5s;
}

.imageViewPreviewImage{
  margin: auto;
}

.imageViewImageInfoArea{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.imageViewImageInfo{
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageViewImageInfoName{
  overflow-x: hidden;
  white-space: nowrap;
}

.pathPreviewListItemBtn{
  width: 100%;
  background-color: #c3e6cb; 
  color: #155724;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
}

.pathPreviewListItemBtn:hover{
  background-color: #b1dfbb;
  color: #155724;
  transition: 0.15s;
}

#imageViewAreaBackground{
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background: rgba(0, 0, 0, 0.7);
  transition: 0.8s;
  opacity: 0;
  z-index: -10;
}

#imageViewControlArea{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 30px;
}

#imageViewControlAreaImagePath{
  border-radius: 8px;
  border-color: transparent;
  text-align: right;
  font-weight: bold;
  font-size: 10px;
}

#imageViewControlAreaCopyNameBtn{
  font-size: 10px;
  padding: 3px 6px;
  margin-left: 5px;
}

#imageViewControlAreaCopyPathBtn{
  font-size: 10px;
  padding: 3px 6px;
  margin-left: 5px;
}

#imageViewControlAreaCopiedText{
  font-weight: bold;
  color: greenyellow;
  visibility: hidden;
  margin-left: 5px;
}

#imageViewControlAreaViewSizeInput{
  width: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  margin-left: 5px;
  padding: 2px
}

#imageViewControlAreaViewResetBtn{
  font-size: 10px;
  padding: 3px 6px;
}

#imageViewControlAreaSaveImgBtn{
  font-size: 10px;
  padding: 3px 6px;
  margin-left: 10px;
}

#imageViewCloseBtn{
  margin-left: 20px;
}

#imageViewCloseBtn:hover{
  opacity: 0.5;
  transition: 0.5s;
}

#imageViewPrevNextArea{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100% - 30px);
  font-size: 50px;
  z-index: 10;
}

#imageViewPrevBtn:hover{
  transition: 0.5s;
  opacity: 0.3;
}

#imageViewNextBtn:hover{
  transition: 0.5s;
  opacity: 0.3;
}

#imageViewArea{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 30px);
}

#alertModalMes{
  margin-bottom: 0px;
}

#databaseList{
  padding: 0px;
}

#databaseList li{
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #d7d7d7;
  border: 0px;
  border-bottom: 1px solid #37373d;
}

#databaseList li:hover{
  transition: 0.6s;
  background-color: #37373d;
}

#databaseList .flexArea{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#anotatedImageView #mainView{
  height: calc(100% - var(--anotatedImageViewFooterHeight));
  padding: 0px;
}

#anotatedImageView #footer{
  display: flex;
  justify-content: right;
  align-items: center;
  height: var(--anotatedImageViewFooterHeight);
  border-top: #d7d7d7 solid 1px;
}

#anotatedImageView #selectAllButton{
  margin-right: 10px;
}

#anotatedImageView .imageSelectBox{
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
  border: #d7d7d7 solid 2px;
}

#anotatedImageView .imageSelectBox:hover{
  background-color: rgba(255, 255, 255, 0.1);
}